.resumen{
    display: flex;
    justify-content: center;
    width:max-content;
    height: max-content;
}
h2{
    display: flex;
    justify-content: center;

}
.wrapper {
    display: grid;
    grid-template-columns:max-content;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
.one{
    grid-column: 1;
    grid-row: 1 ;
    margin: 10rem;
}
.two{
    grid-column: 1;
    grid-row: 2;
    margin: 10rem;
}
.tres{
    grid-column: 2;
    grid-row: 1;
    margin: 10rem;
}
.cuatro{
    grid-column: 2;
    grid-row: 2;
    margin:10rem;
}

